.hint-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.tag-list {
  display: flex;
  align-items: center;
}

.tag-list-item {
  padding: 5px 10px;
  color: #fff;
  background: rgb(36, 46, 100);
  border-radius: 5px;
  margin: 0 5px;
  text-transform: uppercase;
  font-size: 12px;
}

.hint-title {
  margin: 0 30px 0 0;
}

.hint-date {
  margin: 0;
  font-size: 14px;
}
